{
    "oauth": {
      "clientsecret": ""
    },
    "smtpConfig": {
      "enable": false,
      "account": "contact",
      "host": "smtppro.zoho.com",
      "port": "465",
      "user": "contact@mail.com",
      "pass": "",
      "defaultSender": "contact@mail.com"
    }
}
